body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #71b7e6, #5168c5);

  }
  
  .App {
    display: flex;
  }
  
  main {
    padding: 10px;
  }
  .signout {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    background-color: #1b3fe0;
    border-top: 1px solid #1a0505;
  }